<a href="https://colab.research.google.com/github/elttrainer/python/blob/main/checkpoint3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
#pb1:
def m_list(items):
    index = 1
    for i in items:
        index *= i
    return index
print(m_list([2, 3, 6]))

36

In [84]:
#pb2:
def list(t):
  return sorted(t, key=last)

print(list([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [86]:
#pb4:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [89]:
#pb3:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [95]:
#pb6:

#Write a Python program to add members in a set and to remove items from a given set.
set = {1, 2, 3}
print(set)
set.add(4)
print(set)
set.remove(2)
print(set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 3, 4}

In [ ]:
#pb5: