<a href="https://colab.research.google.com/github/elttrainer/python/blob/main/chp7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Print the three first rows using the head() method.
#Delete rows with Nan values.
#Extract the 'name' and 'score' columns from the DataFrame.
#Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
#Write a Pandas program to delete the 'attempts' column from the DataFrame.
#Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
#After executing the final DataFrame, export it into a CSV file named "my_data".


import numpy as np
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data ,index=labels)
print(df)

print("first 3 rows:"df.head(3))

df.drop("Nan",row=3,row=7)

extracting = df[['name', 'score']]

new_row = pd.DataFrame({'name': ["Suresh"], 'score': [15.5], 'attempts': [1], 'qualify': ["yes"]}, index=['k'])
df=pd.concat([new_row,df])

df.drop("attempts",axis=1)

df['Success'] = 0
for idx in df.index:
    if df.loc[idx, 'score'] > 10:
        df.loc[idx, 'Success'] = 1


df.to_csv("my_data.csv")

print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes